Package           Version
----------------- -----------
aiohttp           3.7.4.post0
async-timeout     3.0.1
attrs             21.2.0
chardet           4.0.0
idna              3.2
multidict         5.1.0
pip               20.3.4
pkg-resources     0.0.0
python-dotenv     0.17.1
PyYAML            5.4.1
setuptools        44.1.1
twitchio          1.2.3
typing-extensions 3.10.0.0
websockets        9.1
yarl              1.6.3
